
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* 
  Normal text: text-[rgb(0,0,0)] opacity-50 lg:text-[22px] font-normal text-sm
                w-[361px] h-[147px]

  <p class="font-bold text-2xl lg:text-[65px] font"><span class="text-[#000000]">Always</span>
                     <span class="text-[#E95A08]">Fresh <br> Flowers</span></p>
  
  
  
  */

  .back-img{
    /* background-image: url('/assets/news-letter-bg.png'); */
    background-image: url('../assets/news-letter-bg.png');
    background-size: cover;
    background-position: center;
  }